.flexcontainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.overall-container {
  display: grid;
  grid-template-columns: repeat(7, minmax(min-content, 1fr));
  grid-gap: 1px;
  font-size: 90%;
  grid-template-columns: 1fr 1fr auto auto auto 1fr 1fr;
  padding: 10px;
  min-height: 10vh;
  width: 85%;
  /* TODO This needs to be changed somehow because it is not mobile friendly */
  min-width: 700px;
  border-bottom: rgb(155, 154, 154) 2px solid;
  border-right: rgb(155, 154, 154) 2px solid;
  border-left: rgb(155, 154, 154) 2px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f5f5f5;
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  background: lightgreen;
  font-weight: bold;
}

.cell {
  white-space: nowrap;
  border: 1px solid rgb(155, 154, 154);
  padding: 2px;
  font-size: calc(0.3em + 0.6vw);
}

.cell.firstName, .cell.lastName, .cell.email, .cell.id {
  grid-column: span 1;
}

/* section {
  border:1px solid black;
} */

.selected {
  background: grey;
}

.bordered {
  border: 1px solid rgb(155, 154, 154);
}