.createLead-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 10px;
}

.leadForm {
  width: 100%;
}

.buttons {
  grid-column: 2;
  grid-row: 3;
  text-align: right;
  font-size: 1em;

  display: flex;
  flex: 1 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}

.lead-container-future {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.lead-container-future section {
  margin-top: 19px;
}

.leadNextUpcomingEvent {
  font-size: 90%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.leadFutureUpcomingEvent {
  grid-column: 1;
  grid-row: 2;
  font-size: 90%;
  border-radius: 10px;
  padding: 5px;
  display: grid;
  border: 1px solid black;
  grid-template-columns: 100px 154px auto 105px;
}

input {
  border-radius: 5px;
  height: 1.3em;
  border: 1px solid black;
  margin-bottom: 6px;
}

textarea {
  border-radius: 5px;
  border: 1px solid black;
}

@media screen and (max-width: 920px) {
  .createLead-form {
    grid-template-columns: 1fr;
  }

  .lead-container {
    grid-row: 2;
  }

  .lead-container-future {
    grid-column: 1;
    grid-row: 3;
  }

  .createLead-form > .buttons {
    grid-column: 1;
    grid-row: 4;
    text-align: center;
    font-size: 10px;
    width: 50%;
  }

  .leadFutureUpcomingEvent {
    grid-template-columns: 100px auto 105px;
    width: 86%;
  }

  .leadNextUpcomingEvent {
    width: 86%;
  }

  .leadFutureUpcomingEvent > .notes {
    display: none;
  }

  .workArea {
    justify-content: center;
  }

  .lead-container-future section {
    margin-top: 0;
  }

}

@media screen and (max-width: 920px) {
  .leadFutureUpcomingEvent {
    grid-template-columns: 1fr 1fr 1fr;
    width: 86%;
  }
}