

@media screen and (max-width: 700px) {
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */
  .leadgrid {
    display: grid;
    grid-template-rows: repeat(7, minmax(min-content, 1fr));
    grid-template-columns: auto, auto;
    grid-gap: 1px;
    font-size: 70%;
    grid-template-rows: auto auto auto auto auto 1fr 1fr;
    background-color: yellow;
    min-width: 320px;
  }

  .header.firstName, 
  .header.lastName, 
  .header.lastContactedDate, 
  .header.mobilePhoneNumber, 
  .header.homePhoneNumber, 
  .header.email, 
  .header.nextScheduledEvent {
    grid-column: 1;
  }

  .cell.firstName, 
  .cell.lastName, 
  .cell.lastContactedDate, 
  .cell.mobilePhoneNumber, 
  .cell.homePhoneNumber, 
  .cell.emailAddress, 
  .cell.nextScheduledEvent {
    grid-column: 2;
  }
}