

@media screen and (max-width: 700px) {
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */
  .cell {
    height: 1.3em;
  }

  .overall-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    min-width: 300px;
  }
  
  .containerLeft, .containerRight {
    grid-gap: 5px;
    margin-top: 7px;
  }
  
  .item, .item {
    border: 1px dashed rgb(165, 164, 164);
  
  }
  
}